/*David CSS File*/

.DKbody{
	background-color:#4fbd28;
}

.DKbody2{
	background-color:#e892e2;
}

 @media (max-width: 576px) {   /* Mobile breakpoint */
  .d-flex {
    flex-direction: column !important;
    text-align: center;       /* centers text under images */
  }

  .d-flex img {
    margin-right: 0 !important;
    margin-bottom: 10px;      /* space between image and text */
    width: 100%;              /* full-width mobile images */
    height: auto;
  }
}

/* inspired form gumroad website */
.DKbutton {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  position: absolute;
  right: 20px;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.DKbutton:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.DKbutton:active {
  transform: translate(0);
  box-shadow: none;
}

.DKcentre{
	text-align: center
}

/* Alert popup from https://wisepops.com/blog/html-popup */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
	font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.popup #emailInput {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.popup button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}