/*David CSS File*/

.DKbody{
	background-color:#4fbd28;
}

.DKbody2{
	background-color:#e892e2;
}

 @media (max-width: 576px) {   /* Mobile breakpoint */
  .d-flex {
    flex-direction: column !important;
    text-align: center;       /* centers text under images */
  }

  .d-flex img {
    margin-right: 0 !important;
    margin-bottom: 10px;      /* space between image and text */
    width: 100%;              /* full-width mobile images */
    height: auto;
  }
}

/* inspired form gumroad website */
.DKbutton {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  position: absolute;
  right: 20px;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.DKbutton:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.DKbutton:active {
  transform: translate(0);
  box-shadow: none;
}
